
h2{color: darkcyan;}
h1{font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;}

h1{text-align: center;}
#milo{color: green;}
#nesta{color: blue;}
.you{color: aqua;}
.me{color: cornflowerblue;}
